
body  {
  background-color: #ffffff;
  margin: 25px;
  text-align: center;

}


.points {
   display: inline-flex;
   margin-bottom: -6px;
   font-size: 25px;
}


h1 b u {
  font-family:'Share Tech Mono', monospace ;
  font-size: 70px;
  text-align: center;
  margin: 0 auto;
}


h2 {
  font-family: impact;
  font-size: 33px;
  text-align: center;
  margin: 0 auto;
}

ol {
  display: inline-block;
  text-align: center;
}

.a1 {
  margin: 0 auto;
  text-align: center;

}

.buttons {
    background-color: #4CAF50;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.q1 {
  font-size: 30px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  text-align: center;
}

.q2 {
  font-size: 30px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  text-align: center;
}

.q3 {
  font-size: 30px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  text-align: center;
}



.q1 > p {
  font-family: 'Russo One', sans-serif;
  text-align: center;

}
.q2 > p {
  font-family: 'Russo One', sans-serif;
  text-align: center;

}
.q3 > p {
  font-family: 'Russo One', sans-serif;
  text-align: center;

}

.answer {
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

ol li {
    font-family: 'Share Tech Mono', monospace;
    width: 300px;
    text-align: center;
}

.wrong1:hover {
  color: red;
}

.correct1:hover {
  color: red;
}
.wrong2:hover {
  color: red;
}

.correct2:hover {
  color: red;
}
.wrong3:hover {
  color: red;
}

.correct3:hover {
  color: red;
}
